SHARELATEX_APP_NAME={{ sharelatex_appname }}
SHARELATEX_MONGO_URL=mongodb://{{ overleaf_mongodb_host }}/sharelatex
SHARELATEX_REDIS_HOST={{ overleaf_redis_host }}
REDIS_HOST={{ overleaf_redis_host }}
ENABLED_LINKED_FILE_TYPES='project_file,project_output_file'
ENABLE_CONVERSIONS='true'
TEXMFVAR=/var/lib/sharelatex/tmp/texmf-var

{% if sharelatex_enable_confirmation is defined and sharelatex_enable_confirmation %}
EMAIL_CONFIRMATION_DISABLED='false'
{% else %}
EMAIL_CONFIRMATION_DISABLED='true'
{% endif %}

{% if sharelatex_site_url is defined and sharelatex_site_url %}
SHARELATEX_SITE_URL={{ sharelatex_site_url }}
{% endif %}

{% if sharelatex_navtitle is defined and sharelatex_navtitle %}
SHARELATEX_NAV_TITLE={{ sharelatex_navtitle }}
{% endif %}

{% if sharelatex_logo_url is defined and sharelatex_logo_url %}
SHARELATEX_HEADER_IMAGE_URL={{ sharelatex_logo_url }}
{% endif %}

{% if sharelatex_admin_email is defined and sharelatex_admin_email %}
SHARELATEX_ADMIN_EMAIL={{ sharelatex_admin_email }}
{% endif %}

{% if sharelatex_admin_email is defined and sharelatex_admin_email %}
SHARELATEX_ADMIN_EMAIL={{ sharelatex_admin_email }}
{% endif %}

{% if sharelatex_from_email is defined and sharelatex_from_email %}
SHARELATEX_EMAIL_FROM_ADDRESS={{ sharelatex_from_email }}
{% endif %}

{% if sharelatex_smtp_host is defined and sharelatex_smtp_host %}
SHARELATEX_EMAIL_SMTP_HOST={{ sharelatex_smtp_host }}
{% endif %}

{% if sharelatex_smtp_port is defined and sharelatex_smtp_port %}
SHARELATEX_EMAIL_SMTP_PORT={{ sharelatex_smtp_port }}
{% endif %}

{% if sharelatex_smtp_secure is defined and sharelatex_smtp_secure %}
SHARELATEX_EMAIL_SMTP_SECURE=true
{% else %}
SHARELATEX_EMAIL_SMTP_SECURE=false
{% endif %}

{% if sharelatex_smtp_user is defined and sharelatex_smtp_user %}
SHARELATEX_EMAIL_SMTP_USER={{ sharelatex_smtp_user }}
{% endif %}

{% if sharelatex_smtp_passwd is defined and sharelatex_smtp_passwd %}
SHARELATEX_EMAIL_SMTP_PASS={{ sharelatex_smtp_passwd }}
{% endif %}

{% if sharelatex_smtp_tls_reject_unauth is defined and sharelatex_smtp_tls_reject_unauth %}
SHARELATEX_EMAIL_SMTP_TLS_REJECT_UNAUTH=true
{% else %}
SHARELATEX_EMAIL_SMTP_TLS_REJECT_UNAUTH=false
{% endif %}

{% if sharelatex_smtp_ignore_tls is defined and sharelatex_smtp_ignore_tls %}
SHARELATEX_EMAIL_SMTP_IGNORE_TLS=true
{% else %}
SHARELATEX_EMAIL_SMTP_IGNORE_TLS=false
{% endif %}

{% if sharelatex_smtp_name is defined and sharelatex_smtp_name %}
SHARELATEX_EMAIL_SMTP_NAME={{ sharelatex_smtp_name }}
{% endif %}

{% if sharelatex_smtp_logger is defined and sharelatex_smtp_logger %}
SHARELATEX_EMAIL_SMTP_LOGGER=true
{% else %}
SHARELATEX_EMAIL_SMTP_LOGGER=false
{% endif %}

{% if sharelatex_custom_email_footer is defined and sharelatex_custom_email_footer %}
SHARELATEX_CUSTOM_EMAIL_FOOTER={{ sharelatex_custom_email_footer }}
{% endif %}

{% if sharelatex_sandboxed_compiles is defined and sharelatex_sandboxed_compiles %}
SANDBOXED_COMPILES='true'
{% else %}
SANDBOXED_COMPILES='false'
{% endif %}

{% if sharelatex_sandboxed_compiles_sibling_containers is defined and sharelatex_sandboxed_compiles_sibling_containers %}
SANDBOXED_COMPILES_SIBLING_CONTAINERS='true'
{% else %}
SANDBOXED_COMPILES_SIBLING_CONTAINERS='false'
{% endif %}

{% if sharelatex_sandboxed_compiles_host_dir is defined and sharelatex_sandboxed_compiles_host_dir %}
SANDBOXED_COMPILES_HOST_DIR={{ sharelatex_sandboxed_compiles_host_dir }}
{% endif %}

{% if sharelatex_docker_runner is defined and sharelatex_docker_runner %}
DOCKER_RUNNER='true'
{% else %}
DOCKER_RUNNER='false'
{% endif %}

{% if sharelatex_template_user_id is defined and sharelatex_template_user_id %}
SHARELATEX_TEMPLATES_USER_ID={{ sharelatex_template_user_id }}
{% endif %}

{% if sharelatex_new_project_tpl_links is defined and sharelatex_new_project_tpl_links %}
SHARELATEX_NEW_PROJECT_TEMPLATE_LINKS={{ sharelatex_new_project_tpl_links }}
{% endif %}

{% if sharelatex_proxy_learn is defined and sharelatex_proxy_learn %}
SHARELATEX_PROXY_LEARN="true"
{% else %}
SHARELATEX_PROXY_LEARN="false"
{% endif %}
